services:
  vlm-recheck:
    build: .
    container_name: vlm-recheck-api
    ports:
      - "23576:8000"
    env_file:
      - .env
    volumes:
      - ./logs:/app/logs
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"